<logged-in-nav></logged-in-nav>
<div class="row needsMargin">
  <!-- <div class="col-sm-4">
  	<p ng-bind="current_user.local.name"></p>
  	<a href="#/setMap">Set Location</a>
  	<a href="#/viewMap">View Locations</a>
  	
  </div>
  <div class="col-sm-8">
  </div> -->
  <div class="row">
  	<div class="col-md-2 col-sm-2 col-xs-1"></div>
  	<div class="col-md-8 col-sm-8 col-xs-10">
  		<div id="profilePanel" class="panel panel-primary needsMargin">
		  <div class="panel-heading"><h2>Dashboard</h2></div>
		  <div class="panel-body">
		  	<div><h2 id="profileTitle" ng-bind="title"></h2></div>
		  	<div class="row">
		  		<div id="profileButtonBox" class="col-md-6 col-sm-4 col-xs-12">
		  			<h3 style="margin-top: 0px; margin-bottom: 15px">Category:</h3>
		  			<a href="#/setMap" class="btn btn-success profileButton col-md-12 col-sm-12 col-xs-12">Add New Place</a>
		  			<a href="#/dashboard/all" class="btn btn-warning profileButton col-md-12 col-sm-12 col-xs-12">My Places</a>
		  			<a href="#/dashboard/favs" class="btn btn-warning profileButton col-md-12 col-sm-12 col-xs-12">My Favorites</a>
		  			<a href="#/dashboard/recent" class="btn btn-warning profileButton col-md-12 col-sm-12 col-xs-12">My Recent Places</a>
		  			<a href="#/dashboard/leisure" class="btn btn-warning profileButton col-md-12 col-sm-12 col-xs-12">Leisure Activities</a>
		  			<a href="#/dashboard/travel" class="btn btn-warning profileButton col-md-12 col-sm-12 col-xs-12">Travel Destinations</a>
		  		</div>
		  		<div class="col-md-5 col-sm-5 col-xs-12">
		  			<button id="profileToggle" class="btn btn-default" ng-click="toggleList()">View as List</button>
		  			<div id="mapLoader"><div id="map"></div><div id="toggleList"><div ng-repeat="location in currentLocations | orderBy:'-created_at'"><p><a href="#/location/view/{{location._id}}">{{location.status}}</a> - {{location.dateString}}</p><hr></div></div></div>
		  		</div>
		  		<div class="col-md-1 col-sm-3"></div>
		  	</div>	
		  </div>
		</div>
  	</div>
  	<div class="col-md-2 col-sm-2 col-xs-1"></div>
  </div>
  
</div>
<copyright-line></copyright-line>